<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-7">
  <div class="bg-light movie-wrapper mt-3">
    <div class="mt-3 ml-3 mr-3 mb-3">
      <div class="child-div-1 card-text list-item">
        <strong><%= comment.commenter %>:</strong>
      </div>
      <div class="comments-buttons">
        <% if (comment.approval) %>
          <%= image_tag('like.png', height: 30) %>
        <% else %>
        &nbsp;
        <% end %>
      </div>
    </div>
    <div class="mt-3 ml-3 mr-3 mb-3">
      <p class='card-text list-item'>
        <%= comment.body %>
      </p>
    </div>
  </div>
</div>
